# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/
.venv/

# Environment Variables
.env

# IDEs y SO
.vscode/
.idea/
*.swp
Thumbs.db
Desktop.ini
.DS_Store

# Scratch o temporales
scratch/
